.back{
    background-image: url(../css/h_img.jpg) ;
    height: 600px;
    background-size: 100%;
    color: azure;
    text-align: center;
    font-size: 60%;
    padding: 150px;
}
.back h1{
    margin-top: 15px;
    font-size: 40px;
}    
.back p{
    margin-top: 10px;
    font-size: 15px;
}
.mouse{
    margin-top: 80px;
}
.logo{
    margin-top: 10px; 
}
.writing{
    text-align: center;
}
.writing p{
    font-size: 80%;
}
.services{
    background-image: url(../IP3/assets/backgrounds/s_image.jpg);
    background-size: 100%;
    height: 250px;
    text-align: center;
    padding: 85px;
    color: azure;
    font-size: 80%;
}